<%= form_with(model: plato) do |formulario| %>

    <div class="mb-3">
        <%= formulario.label :nombre, class: 'form-label' %>
        <%= formulario.text_field :nombre, class: 'form-control' %>
         <% if @plato.errors[:nombre].any? %>
            <div class="alert alert-danger" role="alert">
                <%= @plato.errors[:nombre].first %>
            </div>
        <% end %>
    </div>

    <%= formulario.submit %>
<% end %>